{% extends "base.html" %} {% block title %}Upload Media{% endblock %} {% block
content %}
<script lang="js">
  function changeDesc() {
    const result = document.querySelector('.file-desc');
    result.textContent = 'File captured!';
    result.classList.remove('has-text-grey-light');
    }

  function loading() {
    const result = document.querySelector('.loading');
    result.classList.remove('is-hidden');
    }
</script>
<form
  class=""
  action="{{ url_for('upload') }}"
  method="post"
  enctype="multipart/form-data"
>
  <div class="m-4 mt-5">
    <div class="notification is-danger">
      <button class="delete fas fa-exclamation-circle" disabled></button>

      Please keep a <strong>safe distance</strong> from any danger before
      capturing media. Leave the scene <strong>immediately</strong> after
      capturing!
    </div>

    <div class="file has-name is-fullwidth mb-3">
      <label class="file-label">
        {% if 'image' in media_type %}
        <input
          type="file"
          class="file-media"
          name="file"
          accept="img/*"
          capture="environment"
          onchange="changeDesc()"
          hidden
        />
        <input type="hidden" name="media_type" value="image" />
        {% endif %} {% if 'video' in media_type %}
        <input
          type="file"
          class="file-media"
          name="file"
          accept="video/*"
          capture="environment"
          onchange="changeDesc()"
          hidden
        />
        <input type="hidden" name="media_type" value="video" />
        {% endif %}
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-camera"></i>
          </span>
          <span class="file-label">Capture</span>
        </span>
        <span class="file-desc file-name has-text-grey-light"
          >Click to capture {{media_type}}
        </span>
      </label>
    </div>

    <div class="field">
      <label class="label">General Location</label>
      <div class="control">
        <input
          class="input"
          type="text"
          name="location"
          placeholder="Location relative to the scene"
        />
      </div>
    </div>
    <input
      type="hidden"
      id="incident_id"
      name="incident_id"
      value="{{incident_id}}"
    />

    <!-- <div class="field is-grouped is-grouped-right">
      <div class="control">
        <button class="button is-primary">Upload</button>
      </div>
      <div class="control">
        <button type="button" class="button is-link is-light">
          <a href="{{url_for('hello')}}">Cancel</a>
        </button>
      </div>
    </div> -->

    <div class="columns is-mobile">
      <div class="column is-half">
        <p class="loading is-hidden">
          Uploading {{media_type}} <i class="fas fa-spinner fa-pulse"></i>
        </p>
      </div>

      <div class="column is-half">
        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <button class="button is-primary" onclick="loading()">
              Upload
            </button>
          </div>
          <div class="control">
            <button type="button" class="button is-link is-light">
              <a href="{{url_for('hello')}}">Cancel</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
