{% extends "base.html" %} {% block title %}Show Posts{% endblock %} {% block
content %} 

<section class="section">
  <h1 class="title has-text-centered">Posts</h1>
  <!-- <h2 class="subtitle">Reported incidents happening at the moment.</h2> -->
</section>

{% for post in posts %}

<div class="card mx-3 my-4">
    <div class="card-image">
      {% if 'video' in post.media_type %}
      <video width="1280" height="960" controls>
        <source
          src="{{ url_for('static', filename=post.pred_filename) }}"
          type="video/mp4"
        />
      </video>
      {% endif %} {% if 'image' in post.media_type %}
      <img src="{{ url_for('static', filename=post.pred_filename) }}" alt="" />
      {% endif %}
    </figure>
  </div>

  <div class="card-content">
    <div class="content">
      <span>Location: </span>{{post.location}}
      <br />
      <time datetime="2016-1-1">{{ post.create_time }}</time>
    </div>
  </div>
</div>

</div>
{% endfor %}

{% endblock %}
